[Desktop Entry]
Name=@IMAGE_NAME@
X-KDE-PluginInfo-Name=@IMAGE_NAME@
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
